.registro_container ul {
  
    font-size:1.5rem;
 
    }

    .navmain ul {

        display: flex;
        font-size:1.5rem;
    gap:.9rem;
    }

    .hero_section {
        display: flex;
    }

    .texto_hero {
        display: flex;
        flex-direction: column;
        padding:   3rem;
        background-color:#7739d2 ;
        
    }
    .texto_hero h1{
        font-size: 2rem
    }
    
    .texto_hero h2 {
        font-size: 2rem 
    }

    .img_hero img{
      height: 30rem;
    }