.registro_container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
   
}
.registro_container input {
   height: 3rem;
   border-style: none;
   margin:1rem 0;
   border-radius: 2rem;
   padding-left: 2rem;
   background-color: darkslateblue;

}


.registro_container button {
     width: 10rem;
     height: 3rem;
     border-style: none;
   margin:1rem 0;
   border-radius: 2rem;
   padding: 1rem;
   background-color: darkslateblue;
}
.contacto_container button :hover {
   background-color: rgb(61, 40, 193);