
header {
  justify-content: space-between;
}



.navmain {

    display: flex;
}
.navmain ul {

    display: flex;
    font-size:1rem;font-size:2rem;
    gap:1.5rem;  gap:.1rem;
}
.navmain ul li {

}